<!DOCTYPE html>
<html lang='es'>
	<head>
		<meta charset="utf-8">
		<meta http_equiv="X-UA-Compatible" content='IE-edge'>
		<meta name="viewport" content='width=device-width, initial-sacale=1'>
		<!--Bootstrap -->
		<title>{% block title%} {% endblock %}</title>
		<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!--type="text/css"-->
	</head>
	<body>
		<div class="container">
		{% block content %} {% endblock %}
		</div>
		<!-- Jquery Bootstrap -->
		<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
		<!-- Bootstrap JS -->
		<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
	</body>
</html>


